/*----------------------------
  CSSの基本的な初期設定
by Nobuhiko Yuasa 2022-09-08
-----------------------------*/

/* ボックスサイズを直観的にする【重要】 */
html {
  box-sizing: border-box;
  font-size: 16px;
}

/* 上記のbox-sizing設定を継承する */
*, *:before, *:after {
  box-sizing: inherit;
}

/* マージンとパディング及びフォントファミリ */
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family:"游ゴシック",YuGothic,"Hiragino Kaku Gothic ProN",Meiryo, sans-serif;
}

/* リスト表記をシンプルにする */
ol, ul {
  list-style: none;
}

/*----------------------------
  study002共通デザイン設定
by Nobuhiko Yuasa 2022-09-08
-----------------------------*/


/* bodyおよびセクション */
body {
  background-color: #eee;
}
section {
  background-color: #fff;
  padding: 1rem;
  margin: 0 auto;
  max-width: 900px;
  min-width: 320px;
}
section h1 {
  width: fit-content;
  border-left: solid green 8px;
  border-bottom: solid green 2px;
  margin-bottom: 1rem;
  padding-left: 1rem;
}
section p {
  line-height: 1.6rem;
}
/*    注意事項の文字と段落設定     */
section .note {
  margin-top: 1rem;
  color:rgb(198, 6, 6);
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1rem;
}
